# The EXPO_PUBLIC_ prefix is required, expo only exposes variables with
# this prefix to the app at runtime.

# Replace localhost with your machine's local IP address when testing 
# on a phone over WiFi.
EXPO_PUBLIC_EVENTS_WS_URL=ws://localhost:8000/events/stream
EXPO_PUBLIC_POSITIONAL_WS_URL=ws://localhost:8000/positional/stream